/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.image-container{
    display: flex;
    /* row-gap: 1rem; */
    column-gap: 1rem;;
    height: 100vh;
    flex-wrap: wrap;
    background-color: #f3f4f6;
}

:root{
  background-color: rgb(31, 28, 28);
}

.image{
  width: 200px;
  height:200px;
  padding: 1rem;
  border: 1px solid #d1d5db;
  display: flex;
  flex-direction: column;
}